.box-border {
	font-size: 13px;
	border: 1px solid #FFF;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.box-content {
	display: inline-block;
	vertical-align: middle;
	line-height: 13px;
}

.download {
	background: url(img/download.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #bd996a;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}

.info {
	background: url(img/info.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #73af28;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}

.instruct {
	background: url(img/instruct.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #4a7304;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}

.text {
	background: url(img/text.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #7fa9d0;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}

.course {
	background: url(img/course.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #f79926;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}

.task {
	background: url(img/task.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #5a5a5a;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}

.stop {
	background: url(img/stop.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #cc0000;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}

.question {
	background: url(img/question.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #3164b0;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}

.link {
	background: url(img/link.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #000;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}

.code {
	background: url(img/code.png) no-repeat scroll 17px 14px;
	border-left: 5px solid #e5004f;
	padding-left: 80px;
	min-height: 65px;
	line-height: 48px;
}